<?xml version="1.0"?>
<robot name="ball">
  <link name="ball">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.318"/>
      <inertia ixx="0.00462" ixy="0.0" ixz="0.0" iyy="0.00462" iyz="0.0" izz="0.00462"/>
    </inertial>
  </link>
</robot>
